nav ul{
  margin: 20px;
  padding: 12px;
  list-style: none;
  background: Red;
}
nav ul:after {
  content: "";
  display: table;
  clear: both;
}
nav a {
  text-decoration: none;
  display: block;
  transition: .3s linear;
}
.topmenu > li {
  position: relative;
}
.topmenu > li > a {  
  padding: 10px 0px;
  font-size: 16px;
  color: Plum;
}
.topmenu > li > a.active, 
.submenu a:hover {color: #ddbe86;}
.submenu {
  position: absolute;
  z-index: 5;
  margin: 1px;
  padding: 1px;
  min-width: 200px;
  background: white;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0; 
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear;
  background: Olive;
}
.submenu li {position: relative;}
.submenu li a {
  color: Aqua;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCC;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
}
nav li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}
.subsubmenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  margin: 1px;
  padding: 1px;
  background: white;
  border-top: 1px solid #CBCBCC;
  border-left: 1px solid #CBCBCC;
  border-right: 1px solid #CBCBCC;
  visibility: hidden;
  opacity: 0; 
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: .3s linear;
  background: Peru;
}
.subsubmenu li {position: relative;}
.subsubmenu li a {
  color: Gold;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #CBCBCC;
}
.subsubmenu .subsubmenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: .3s linear;
}
nav li:hover > .subsubmenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}